<ion-view view-title="易道云" hide-nav-bar="{{hideNavBar}}">
  <style>
      .cont{
          margin-bottom: 100px;
      }
      .cont1{
          width: 100%;
          height: 80vh;
          overflow: hidden;
          background: url("http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg") fixed no-repeat top;
          background-size: cover;
          padding: 4em 0;
          text-align: center;
      }
      .cont1-inner-wrapper{
          width: 70%;
          margin: 0 15%;
          text-align: left;
      }
      .slogan{
          color: #fff;
          padding-top: 3em;
          box-sizing: border-box;
      }
      .subTitle{
          font-size: 1.3em;
          line-height: 1em;
          color: #fff;
          margin-top: 1em;
      }

      .cont2, .cont3, .cont4, .cont5{
          max-width: 1200px;
          margin: 50px auto;
      }

      .cont2-title{
          text-align: left;
          font-size: 1.5em;
          padding: 0 15px;
          margin-top: 1em;
          width: 100%;
      }
      .cont2-p{
          font-size: 1.2em;
          padding: 0 15px;
      }
      .cont2-image{
          width: 33.3%;
          padding: 15px;
          float: left;
      }
      .cont3-image, .cont4-image{
          width: 50%;
          padding: 15px;
          float: left;
      }
      .cont5{
        padding: 15px;
      }
      .cont5 img{
          width: 50%;
          display: inline-block;
      }

      .startBtn{
          display: block;
          width: 150px;
          height: 56px;
          border: 0;
          border-radius: 4px;
          margin-top: 1em;
      }
      .bottomStartBtn{
          display: block;
          width: 400px;
          height: 56px;
          margin: 1em 0;
      }


      @media screen and (max-width: 750px){
          .cont2-image{
              width: 50%;
          }

      }
      @media screen and (max-width: 600px){
          .cont2-image, .cont3-image, .cont4-image, .cont5 img{
              width: 100%;
          }
          .bottomStartBtn{
              width: 100%;
              margin: 1em auto;
          }
      }

  </style>
  <ion-content>
      <div common-header user="{{user}}"></div>
      <div class="cont cont1">
          <div class="cont1-inner-wrapper">
              <h1 class="slogan">创业，来易道，我们一起</h1>
              <p class="subTitle">简单有力的描述你的商业计划，把重点放在最重要的事情上</p>
              <p class="subTitle">寻找专家和顾问帮你优化你的方案，甚至帮你寻找投资帮你寻找最适合你的合伙人</p>
              <div class="buttons padding">
                  <button ng-click="login()" type="button" class="button button-positive startBtn">加入易道云</button>
              </div>
          </div>
      </div>

      <div class="cont cont2">
          <div class="cont2-inner-wrapper">
              <p class="cont2-title">帮你用有用的工具描述你的点子、需求</p>
              <p class="cont2-p">提供开发你的产品所需的各种工具：协同、沟通、计划、分享、演示、测试、集成</p>
              <p class="cont2-p">提供运行和运营产品的最有环境：云、各种服务和各种基于精益分析运营工具</p>
              <div class="cont2-image">
                  <img class="width-full" src="img/slide1.jpg">
              </div>
              <div class="cont2-image">
                  <img class="width-full" src="img/slide2.jpg">
              </div>
              <div class="cont2-image">
                  <img class="width-full" src="img/slide1.jpg">
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="cont cont3">
          <div class="cont3-inner-wrapper">
              <p class="cont2-p">从今天起关注在最重要的事情上<br>了解市场、了解客户<br>减少浪费<br></p>
              <div class="cont3-image">
                  <img class="width-full" src="img/feature1.jpg">
              </div>
              <div class="cont3-image">
                  <img class="width-full" src="img/feature2.jpg">
              </div>
              <div class="clear"></div>
          </div>
      </div>
      <div class="cont cont4">
          <p class="cont2-p">快速开发<br>数据驱动</p>
          <div class="cont4-image">
              <img class="width-full" src="img/feature3.jpg">
          </div>
          <div class="cont4-image">
              <img class="width-full" src="img/feature4.jpg">
          </div>
          <div class="clear"></div>
      </div>

      <div class="cont cont5">
          <img src="img/key.jpg">
          <button class="button button-positive bottomStartBtn">感觉不错，马上申请试用</button>
      </div>
    </div>
    <div common-footer></div>
  </ion-content>
</ion-view>
